{% extends 'index.html' %}
{% block headextensions %}
<style>
  .running { color: darkgreen; }
  .stopped { color: darkred; }
  .operation { font-family: monospace; }
  img.thumb { max-height: 3em; margin: 0.25em auto; }
  img.preview { max-height: 20em; max-width: 20em;}
</style>
{% endblock %}
{% block navitems %}
{% if g.user['role'] in ['sysadmin', 'studyadmin'] %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/scheduling">Scheduling</a>
          </li>
{% endif %}
{% if g.user['role'] in ['sysadmin', 'studyadmin', 'editor'] %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/edit">Editor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/resources">Resources</a>
          </li>
{% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/home">Admin Home</a>
          </li>
{% endblock %}

{% block maincontent %}
<div id="main_content"></div>
{% endblock %}

{% block bodyscript %}
<script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
{% endblock %}