{% extends 'index.html' %}
{% block headextensions %}
<style>
  .running { color: darkgreen; }
  .stopped { color: darkred; }
  .operation { font-family: monospace; }
  img.thumb { max-height: 3em; margin: 0.25em auto; }
  img.preview { max-height: 20em; max-width: 20em;}
</style>
{% endblock %}
{% block navitems %}
{% if g.user['role'] in ['sysadmin', 'studyadmin'] %}

            <a class="link" href="/admin/scheduling">Scheduling</a>

{% endif %}
{% if g.user['role'] in ['sysadmin', 'studyadmin', 'editor'] %}
        
            <a class="link" href="/admin/edit">Editor</a>
  
            <a class="link" href="/admin/resources">Resources</a>
         
{% endif %}
            <a class="link" href="/admin/users">Users</a>
   
            <a class="link" href="/admin/home">Admin Home</a>
       
{% endblock %}

{% block maincontent %}
<div id="main_content"></div>
{% endblock %}

{% block bodyscript %}
<script type="module" src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
{% endblock %}