{% extends 'index.html' %}
{% block navitems %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/edit">Editor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/home">Admin Home</a>
          </li>
{% endblock %}

{% block maincontent %}
<div id="main_content"></div>
{% endblock %}

{% block bodyscript %}
{% endblock %}