{% extends 'index.html' %}
{% block bodyscript %}
    <script type="module">
            import { SWEETPreviewer } from '../../../static/scripts/editors/SWEET-editor.js'
            
            const previewer = SWEETPreviewer();
            previewer.loader = () => {

                // TEMP workaround - why could prev/next be null?
                var prev = window.opener.document.querySelector("input[name='page-prev']");
                var next = window.opener.document.querySelector("input[name='page-next']");

                return Promise.resolve({
                    title: window.opener.document.querySelector("input[name='page-title']").value,
                    prev: prev ? prev.value : null,
                    next: next ? next.value : null,
                    content: window.opener.document.querySelector("#page-content").jsonvalue
                })
            }

            previewer.path = window.opener.document.querySelector("#page-details").dataset.path;

    </script>
{% endblock %}