<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- App CSS -->
    <link href="{{url_for('static', filename='css/template.css')}}" rel="stylesheet">
    <title>SWEET Welcome</title>
  </head>
  <body>
    <div class="row">
      <div class="sidenav col-sm-3 d-none d-sm-block">
        <div class="sidebar-text d-flex flex-column min-vh-100 justify-content-center">
           <h1>Welcome</h1>
           <p>Some intro information here?</p>
        </div>
     </div>
     <div class="col-sm-9 col-xs-12">
        <div class="col-md-6 offset-md-1 col-lg-4 offset-lg-1 d-flex flex-column min-vh-100 justify-content-center align-items-left">
          <h2>SWEET information</h2>
          <p>Lorem ipsum dolor sit amet, ad nec nisl liber. Ceteros tractatos duo ad. Choro fuisset ut quo, nam mutat maiorum oporteat an. Dicit neglegentur an quo, usu munere euripidis at. Usu et iuvaret corpora. In eam solum cetero, vel novum definiebas consequuntur ea.</p>

          <p> Ne pro numquam delectus pertinacia, habeo ipsum laboramus mea at. Eos an iudico vulputate consequuntur, ius exerci appareat reprehendunt an, eos ea viderer deleniti. Dico harum aperiri cu qui, movet primis his te, vide torquatos duo eu. Pro apeirian deserunt scripserit ei, mei meis accusata contentiones ex. Veri convenire gloriatur quo cu, et oratio soleat lobortis ius. Cu per congue qualisque.</p>
          
          <div class="mt-4">
            <a class="btn btn-primary" href="{{url_for('index')}}" role="button">Start</a>
          </div>

          <div class="form-check mt-4">
            <input class="form-check-input no-box-shadow" type="checkbox" value="hide-welcome-page" id="hidepage">
            <label class="form-check-label" for="hidepage">
              Don't show me this page again
            </label>
          </div>
            
        </div>
      
     </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>