#my-personal-details :is(label, span, input) {
    margin-right: 2em;
}

#my-personal-details h4 {
    color: var(--SWEET-purple);
}

#my-personal-details .btn-primary {
    border-radius: 2rem;
    text-align: center;
}

:is(#my-personal-details, .contact) button.edit::before {
    content: "\270D"
}

:is(#my-personal-details, .contact) button.save::before {
    content: "\1f4be"
}

:is(#my-personal-details, .contact) button.delete::before {
    content: "\1f5d1";
    font-size: 166%;
}

:is(#my-personal-details, .contact) button.cancel::before {
    content: "\1f5d9"
}

button.edit+button.cancel {
    display: none;
}

.contact {
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0px 8px 12px 0px #acacac;
}

section.contact {
    margin: 0.5rem;
}

.contact h5 {
    color: var(--SWEET-purple);
}

.contact h5, .contact .contact-body {
    margin-left: 3rem;
}

.contact-list {
    margin-bottom: 2em;
}

/*.contact button.edit, .contact button.delete {}
*/

.password-field {
    float: right;
}