.fill-in {
    display: block;
    width: 80%;
    margin: 1.5em 0;
}

.fill-in form {
    display: flex;
    width: 100%;
}

.fill-in.large form {
    flex-direction: column;
    align-items: flex-end;
}
.fill-in.large form textarea {
    width: 100%;
    border: 2px solid black;
}

.fill-in form input[type='text'] {
    flex-grow: 1;
    border: 2px solid black;
}

.thoughts-box {
    padding: 1em 2em;
    text-align: center;
}

.thoughts-box header span {
    font-weight: bold;
}

/* on smaller devices give more room for form in thoughts box by alternating surrounding elements*/
@media (max-width: 768px) {
    .thoughts-box {
        padding: 1em 0.5em;
    }
    .thoughts-box header span {
        font-weight: normal;
    }
    .h3, h3 {
        font-size: calc(1.3rem + .3vw);
    }
}


.thoughts-box header {
    justify-content: space-around;
}

.thoughts-box form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.thoughts-box form textarea {
    flex-basis: 47%;
    min-width: 0;
    padding: 0.5em;
    margin: 0.5em;
}

