.fill-in {
    display: block;
    width: 80%;
    margin: 1.5em 0;
}

.fill-in form {
    display: flex;
    width: 100%;
}

.fill-in.large form {
    flex-direction: column;
    align-items: flex-end;
}
.fill-in.large form textarea {
    width: 100%;
    border: 2px solid black;
}

.fill-in form input[type='text'] {
    flex-grow: 1;
    border: 2px solid black;
}
