.row {
    justify-content: space-around;
}

.hmpg-acts {
    align-content: stretch;
}

.hmpg-acts a.card {
    border-bottom-color: #f5f57a;
}

.hmpg-prof a.card {
    border-bottom-color: #b6b6b3;
    text-align: center;
    font-size: 125%;
}