.row.homemenu {
    justify-content: space-around;
}

.hmpg-acts {
    align-content: stretch;
}

.hmpg-sects a.card, .hmpg-acts a.card {
    overflow: hidden;
    min-height: 7em;
}

.hmpg-acts a.card {
    border-bottom-color: var(--SWEET-gold);
    min-height: 4.5em;
}

img.card-icon {
    display: block;
    position: absolute;
    width: 7.5em;
    object-fit: contain;
    bottom: -0.5em;
    right: 0.25em;
    opacity: 0.1;
}

.hmpg-acts img.card-icon {
    width: 5em;
    bottom: 0;
}