html {
    font-family: sans-serif;
    font-size: 1.25rem;
    margin: 0;
    background-color:  #e3e3e0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden auto;
    margin: 1em 0 0;
}

#app-main {
    width: 90vw;
    padding-bottom: 1rem;
    margin: auto;
    background-color: #633188;
    color:  #e3e3e0;
    position: relative;
}

#app-main > h1 { 
    width: inherit;
    text-align: center;
    padding-top: 1rem;
    margin: 0.2rem;
}

#app-nav {
    position: sticky;
    width: 100%;
    background-color: #2e2e1f;
    color: rgba(227, 227, 224);
    top: 0; 
    z-index: 2;
}

#breadcrumb {
    margin-left: 1em;
}

#breadcrumb a:is(:link, :visited, :active) {
    color:  #e3e3e0;
    text-decoration: none;
    font-size: 75%;
}

#breadcrumb > a::before {
    content: " > ";
}

#breadcrumb > a:first-child::before {
    content: none;
}



#main-container {
    width: 95%;
    margin: auto;
}

:not(.accordion) :is(h2, h3, h4, h5, h6) {
    margin: 0.5em auto 0.25em;
}

header {
    color: #633188;
}

#main-container  nav {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

#main-container  nav > a {
    box-sizing: border-box;
    flex-basis: 100%;
    background-color: #e3e3e0;
    border-radius: 1em;
    text-align: center;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 3rem;
    border: 0.2em solid transparent;
}

#main-container  nav > a:hover {
    border: 0.2em solid #696966;
}

#main-container nav > a > label {
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1em;
    flex-basis: 100%;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #633188;
}

img.icon {
    width: 4em;
    height: 4em;
    margin: 0.1em 1em;
    flex-basis: 4em;
}

blockquote {
    font-size: 80%;
    font-style: italic;
    padding: 0.5em;
    border: 0.25em solid #633188;
    background-color: white;
    color: #633188;
    border-radius: 0.5em;
    position: relative;
    margin-bottom: 4em;
}

blockquote::before {
    content: "";
    position:absolute;
    bottom: -1em;
    left: 2em;
    border-width: 1em 1em 0;
    border-color: #633188 transparent;
    border-style: solid;
    display: block;
    width: 0;
}

blockquote::after {
    content: "";
    position:absolute;
    bottom: -0.67em;
    left: 2.33em;
    border-width: 0.66em 0.66em 0;
    border-color: white transparent;
    border-style: solid;
    display: block;
    width: 0;
}

blockquote p {
    margin: 0 1em;
}

blockquote p::before {
    content: "\201C";
    font-size: 150%;
    opacity: 0.8;
    position: relative;
    top: 0.25rem;
    right: 0.1rem;
    z-index: 0;
}

blockquote p::after {
    content: "\201D";
    font-size: 150%;
    opacity: 0.8;
    position: relative;
    top: 0.25rem;
    left: 0.1rem;
    z-index: 0;
}

blockquote > cite {
    position: absolute;
    bottom: -2em;
    left: 6em;
    font-size: 80%;
    display: block;
    width: fit-content;
    margin-left: auto;
}

blockquote > cite::before {
    content: "[";
}

blockquote > cite::after {
    content: "]";
}


article {
    color: black;
}

.accordion p {
    line-height: 1.5em;
}

section > p, section > h3 {
    margin-left: 1em;
}

#main-container > :is(section, article) {
    width: calc(100% - 3rem);
    margin: 1rem auto;
    background-color: #e3e3e0;
    padding: 1rem;
    color: black;
    font-weight: lighter;
    box-sizing: border-box;
}

#main-container > :is(section, article) a {
    color: #bd4b89;
}

#main-container section.alert {
    border: 0.2em solid #633188;
    padding: 0.5em;
    background-color: #f6f6f3;
}

#main-container section.important {
    padding: 0.5em;
    background-color: #e3e3e0;
}

#main-container section.alert :is(h1, h2, h3, h4, h5, h6) {
    width: fit-content;
}

#main-container > .accordion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: stretch;
    background-color: #633188;
}

.accordion .accordion {
    width: calc(100% - 2rem);
    padding-left: 2rem;
    background-color: #633188;
}

.accordion > header {
    cursor: pointer;
    width: calc(100% - 2rem);
    text-align: left;
    background-color: #e3e3e0;
    padding: 1rem;
    margin: 0.1rem 0;
}

.accordion > header:not(.closed) {
    position: sticky;
    top: 1em;
    z-index: 1;
}

.accordion .accordion > header:not(.closed) {
    top: 7em;
}

.accordion > header:first-child {
    margin-top: 0;
}

.accordion > header + section {
    width: calc(100%);
    background-color: #e3e3e0;
}

.accordion > header + section p {
    margin-left: 1em;
    margin-right: 1em;
}

.accordion > header:not(.closed) + section > :not(article):first-child {
    margin-top: 0em;
    padding-top: 1em;
}

.accordion > header:not(.closed) + section > :not(article):last-child {
    margin-bottom: 0em;
    padding-bottom: 1em;
}

.accordion > header.closed + section {
    height: 0;
    border: 0;
}

.accordion > header.closed + section * {
    display: none;
}

.hidden {
    display: none;
}

section.overlay {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color:#e3e3e0;
    z-index: 99;
    text-align: center;
}

section.overlay > header {
    width: 100%;
}

button.close-button {
    font-size: 120%;
    color: #900;
    float: right;
    margin-right: 1em;
}

h1.warning {
    color: #900;
}

section.overlay > article > iframe {
    width: calc(100vw - 4em);
    height: calc((100vw - 4em) * 9/16);
    max-height: 66vh;
    max-width: calc(66vh * 16/9);
    margin: auto;
}

a.youtube {
    display: block;
    font-weight: bold;
    font-size: 95%;
    margin-left: 2em;
    cursor: pointer;
}

a.youtube::before {
    background-image: url("video.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 2em; height: 2em;
    content: "";
    position: relative;
    top: 0.5em;
}

#app-nav > p:first-child {
    display: none;
}

#app-nav a {
    color: rgba(227, 227, 224);
    display: inline-block;
    padding: 0.5em;
    box-sizing: border-box;
    height: 100%;
}

#app-nav a:hover {
    background-color: rgba(227, 227, 224, 0.95);
    color:  #633188;
}

#app-nav a.highlight {
    background-color: #f5f57a;
    color: black;
}
#app-nav a.highlight:hover {
    background-color: #f5f57a;
    color: black;
}

#profiler {
    display: none;
    font-size: 80%;
    padding: 0.5em;
    border: 1em solid #f5f57a;
    background-color: white;
    color: #633188;
    border-radius: 0.5em;
}

#profiler.show { display: block; }

#profiler th {
    text-align: left;
}

#profiler table {
    border-collapse: collapse;
    width: 100%;
}

#profiler table tbody {
    border-top: 2em solid transparent;
}

#profiler td input {
    margin: auto;
    width: 100%;
}

#profiler table tr:hover {
    background-color: #eee;
}

section.goalsetter {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

div.goal {
    border: 0.25em solid #633188;
    padding: 0.25em;
    box-sizing: border-box;
    text-align: center;
    border-radius: 1em;
    min-height: 4em;
    margin: 1em 0;
    flex-basis: 30%;
}

div.goal * {
    cursor: inherit;
}

div.goal.new, div.goal.review {
    cursor: pointer;
}

div.goal.new:hover, div.goal.review:hover {
    background-color: white;
}

div.goal section {
    text-align: left;
}

div.goal label {
    display: block;
}

div.goal input[list] {
    font-weight: bold;
    width: 19em;
}

div.goal input[type="radio"] {
    display: none;
}

div.goal input[type="radio"] + label {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    line-height: 1.25em;
    border: 2px solid #633188;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 0.2em;
    text-align: center;
    cursor: pointer;
}

div.goal input[type="radio"]:checked + label {
    background-color: #633188;
    color: #e3e3e0;
}

div.goal button, div.goal input[type="submit"] {
    cursor: pointer;
}

div.goal.popover {
    cursor:default;
}

.side-effect {
    border: 0.2em solid #bd4b89;
    border-radius: 1em;
    padding: 1em;
}

select[name='setype'] + form > section > label {
    line-height: 150%;
    margin-right: 1em;
}

#dateinput {
    position: relative;
    display: inline-block;
    min-width: 11em;
}

#dateinput input {
    width: 100%;
}

#dateinput table {
    position: absolute;
    top: 100%;
    display: none;
    background-color: white;
    border-collapse: collapse;
    border: 3px solid rgba(0,0,0,0.6);
    width: 100%;
}

#dateinput table td {
    border: 1px solid silver;
    box-sizing: border-box;
    text-align: center;
}

#dateinput table td.faded {
    color: silver;
}

#dateinput table.day td.selected {
    border: 2px solid #633188;
}

#dateinput table.day td:hover {
    background-color: silver;
}

#dateinput table.week tr.selected {
    border: 2px solid #633188;
}

#dateinput table.week tr:hover {
    background-color: silver;
}

#dateinput table caption {
    background-color: white;
}

#dateinput table caption section {
    display: flex;
    justify-content: space-evenly;
}

#dateinput input:focus + table {
    display: table;
}

span.sidenote {
    display: none;
    position: absolute;
    font-size: 75%;
    background-color: silver;
    max-width: 25em;
}
#dateinput label {
    vertical-align: top;
}

label:hover span.sidenote {
    display: inline;
}

:is(#severityinput, #impactinput) input[type="radio"] + label {
    display: inline-block;
    line-height: 1.25em;
    border: 2px solid #633188;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 0.1em;
    padding: 0 0.5em;
    text-align: center;
    cursor: pointer;
}

:is(#severityinput, #impactinput, #notesinput) {
    display: block;
    text-align: center;
}

:is(#severityinput, #impactinput) input[type="radio"]:checked + label {
    background-color: #633188;
    color: #e3e3e0;
}

input[type='number'] {
    max-width: 3em;
}
/*
@media screen and (min-width: 1400px) {
    #main-container nav > a {
        flex-basis: 31%;
    }
}


@media screen and (min-width: 900px) and (max-width: 1399px) {
    #main-container nav > a {
       flex-basis: 47%;
    }
}
*/

@media (min-resolution: 150dpi) {
    :root {
        font-weight: bold;
        font-size: 24px;
    }

    blockquote > cite {
        font-weight: bold;
        font-size: 100%;
    }
}