.modal-fs {
    max-width: 100%;
    width: 95vw;
}

.modal-fs > .modal-content {
    height: 100% !important;
}

.model-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#prof-p1-cancel {
    position: absolute;
    left: 1em;
}

.modal-content {
    border-radius : 1rem;
    border: 3px solid rgba(0,0,0,.2);
}

@media screen and (max-width: 768px) {
    .modal {
        font-size: 0.8rem;
    }
}