[class*='so-'] {
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em auto;
}

[class*='so-'] section.markdown {
    margin-bottom: 2em;
}

[class*='so-'] p:last-child {
    margin-bottom: 0;
}

.so-important {
    background-color: var(--SWEET-lilac);
    color: var(--SWEET-off-white);
}

.so-alert {
    background-color: var(--SWEET-pink);
    border: 0.2em solid var(--SWEET-purple);
    border-radius: 0.5em;
    padding: 0.5em;
}

.so-alert ul > li:before {
    color: var(--SWEET-purple)
}