@import url("https://fonts.googleapis.com/css2?family=Manrope");

@import url('https://fonts.googleapis.com/css2?family=Raleway');

@import url('https://fonts.googleapis.com/css2?family=Montserrat');

@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
    font-size: 20px;

    --bs-font-sans-serif: "Manrope", "Roboto", Arial, sans-serif;

    --SWEET-purple: #633188;
    --SWEET-grey: #b3b3b2;
    --SWEET-light-grey: #e6e6e3;
    --SWEET-gold: #f0c048;
    --SWEET-light-gold: #F9EDD0;
    --SWEET-pink: #d2c0d9;
    --SWEET-lilac: #a08db0;
    --SWEET-off-white: #fafafa;
    --SWEET-dark-grey: #828280;
    --SWEET-charcoal: #585857;
}

h1 {
    color: var(--SWEET-off-white);
}

h5 {
    font-weight: 600;
}

p {
    margin-bottom: 1.5em;
}

main>.container {
    padding: 15px 15px 50px;
}


main header, main footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

main header {
    margin-bottom: 1.5em;
}

main footer {
    margin-top: 1.5em;
}

#page-title {
    margin-right: 1em;
    padding-top: 100px;
    width: 100%;
    text-align: center;
    height: inherit;
}

main :is(header, footer) a.hidden {
    visibility: hidden;
}


.sidenav {
    background: radial-gradient(circle, rgba(99, 49, 136, 0.75) 26%, rgba(99, 49, 136, 0.9) 93%), url('../images/splash.jpeg');
    background-position: center right;
}

.sidebar-text {
    padding: 0 40px;
    color: var(--SWEET-off-white);
}

.sidebar-text a, .sidebar-text a:active, .sidebar-text a:visited {
    color: var(--SWEET-off-white);
    font-weight: bold;
}

a.card {
    text-decoration: none;
    color: inherit;
    background-repeat: no-repeat;
    background-position: bottom -20px right 10px;
    background-size: 120px;
}

@media screen and (max-width: 825px) {
    a.card.submenu .card-title {
        margin-top: 2em;
        font-size: 1em;
    }
}



a.card.submenu:visited {
    background-color: #ffffff;
}

.form-check .no-box-shadow:focus {
    box-shadow: none !important;
}

.form-check-input  {
    height: 1.5em;
    width: 1.5em;
}
/*
a.card h5 {
    margin-right: 130px;
}
*/
p a, li a {
    color: var(--SWEET-purple);
    font-weight: bold;
    text-decoration: underline;
}

p a:hover {
    background-color: var(--SWEET-gold);
    color: inherit;
    text-decoration: underline;
}

span a {
    color: inherit;
    text-decoration: none;
}

#btn-print {
    float: right;
}

.btn-responsive {
    font-size: 0.8vw;
}

.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: var(--SWEET-purple);
    border-color: var(--SWEET-purple);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--SWEET-lilac);
    border-color: var(--SWEET-lilac);
}


.btn-primary:disabled {
    background-color: var(--SWEET-grey);
    border-color: var(--SWEET-grey);
    color: var(--SWEET-off-white);
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: var(--SWEET-purple);
    border-color: var(--SWEET-purple);
}

.form-check-input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(99 49 136 / 25%);
}

nav.navbar-dark {
    background-color: var(--SWEET-off-white) !important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link, nav.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand {
    color: var(--SWEET-dark-grey);
}

.navbar-dark .navbar-nav .show>.nav-link:hover, nav.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-brand:hover {
    color: var(--SWEET-dark-grey);
}

nav.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-brand:focus {
    color: var(--SWEET-charcoal);
}

.container-fluid {
    border-bottom: 5px solid var(--SWEET-grey);
    margin-bottom: -10px
}

nav.navbar-dark .bi.bi-list {
    color: var(--SWEET-charcoal);
    border-color: none;
}

/*
nav-link bt- 
padding: 3px;
margin-top: 9px;
margin-left: 0.5rem;
*/

.btn-secondary, .btn-secondary:focus {
    background-color: var(--SWEET-charcoal);
}

.btn-secondary:hover {
    background-color: var(--SWEET-grey);
    border-color: var(--SWEET-grey);
}

.btn-dark, .btn-dark:focus, .btn-dark:active {
    background-color: var(--SWEET-purple);
    border-radius: 2rem;
    padding: 3px;
    margin-top: 6px;
    margin-left: 0.5rem;
}

a.nav-link.btn-dark {
    color: var(--SWEET-off-white) !important;
}

.btn-dark:hover {
    background-color: var(--SWEET-lilac);
    border-color: var(--SWEET-lilac);
}

footer.footer-dark {
    background-color: var(--SWEET-purple) !important;
}

a.navbar-brand {
    font-size: 32px;
    padding: 0;
}

a.navbar-brand img {
    margin-top: 5px;
}

a.navbar-brand:hover, a.navbar-brand:focus  {
    border-bottom: 5px solid var(--SWEET-purple);
    margin-bottom: -8px;
    -webkit-transition: width .5s ease;
    -moz-transition: width .5s ease;
    -o-transition: width .5s ease;
    transition: width .5s;

}



a.navbar-brand>strong {
    padding: 0 0.25em;
    color: var(--SWEET-purple);
}

nav #app-buttons {
    position: relative;
}

nav #app-buttons i {
    color: inherit;
    cursor: pointer;
    font-size: 24px;
    color: var(--SWEET-off-white);
}

nav #app-buttons .favourite:hover i {
    color: var(--SWEET-gold);
}

nav #app-buttons .add-note {
    position: absolute;
    top: -.5rem;
    bottom: -.5rem;
    right: var(--bs-gutter-x, -.75rem);
    padding-top: 1rem !important;
    background-color: var(--SWEET-purple);
    color: var(--SWEET-off-white);
}

footer div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
}

footer div.container span {
    color: var(--SWEET-pink)
}

footer div.container span a:hover {
    color: var(--SWEET-light-grey)
}

/*
.card {
    border-bottom: solid 6px var(--SWEET-purple);
}

.card.text-center {
    border-radius: 3em;
}
*/

.card{
    border: none;
}
.hmpg-sects .card {
    border-top: solid 2px var(--SWEET-lilac);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1em;
}

.card-title {
    color: var(--SWEET-purple);
    font-weight: bolder;
}


.card:hover {
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.quote {
    border-left: solid 6px var(--SWEET-purple);
}

.quote p {
    font-style: italic;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    color: var(--SWEET-purple);
}

section ul {
    list-style: none;
}

section ul>li {
    margin-bottom: 0.5em;
}

section ul>li:before {
    content: "\2023";
    color: var(--SWEET-gold);
    font-weight: bold;
    font-size: 36px;
    line-height: 0.9em;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: relative;
    top: 0.1em;
}

li>p {
    display: inline-block;
    vertical-align: text-top;
}

button.accordion-button img {
    width: 60px;
    padding-right: 1rem;
}

button.accordion-button {
    font-weight: bold;
}

button.accordion-button:focus {
    border: none;
    box-shadow: none;
}

/* button.accordion-button.collapsed {
    border-left: 0.15em solid var(--SWEET-gold);
}
*/

button.accordion-button:not(.collapsed) {
    color: var(--SWEET-charcoal);
    background-color: #F9EDD0;
}

button.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f0c048'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}

.card.goal.unset {
    min-height: 250px;
    border: 2px dashed var(--SWEET-pale-grey);
    cursor: pointer;
}

.shadow-hover:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.markdown :is(img, video) {
    display: block;
    width: 100%;
    object-fit: contain;
    margin: 0.5em auto;
}

.markdown img.left {
    width: 45%;
    margin-right: 1em;
    margin-bottom: 2em;
    float: left;
}

.markdown img.right {
    width: 45%;
    margin-left: 1em;
    margin-bottom: 2em;
    float: right;
}

.markdown :is(img, video).xs {
    max-width: 96px;
}

.markdown :is(img, video).sm {
    max-width: 192px;
}

.markdown :is(img, video).md {
    max-width: 384px;
}

.markdown :is(img, video).lg {
    max-width: 640px;
}

.markdown :is(img, video).xl {
    max-width: 768px;
}

.markdown :is(img, video).xxl {
    max-width: 1024px;
}

section.markdown>p:last-child {
    margin-bottom: 2em;
}

section, div.accordion {
    clear: both;
}

figure {
    margin-top: 2em;
    margin-bottom: 2em;
}

ul {
    margin-bottom: 1.5em;
}

p+ul {
    margin-top: -1.25em;
}

div+h4 {
    margin-top: 1.5em;
}

#error-message {
    font-size: 0.8em;
    padding-top: 20px;
    color: red;
}

.welcome-footer>div {
    display: flex;
    justify-content: space-around;
}

ul li:last-child a::after {
    content: "";
    position: absolute;
    right: inherit;
    bottom: 10px;
    margin-bottom: -10px;
    width: inherit;
    height: 5px;
    border-radius: 5px;
    /*transition */
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

ul li:nth-child(1)~li:last-child a {
    right: 27.7em;
    width: 3.7em;
}

ul li:nth-child(2):hover~li:last-child a {
    right: 21em;
    width: 6.41em;
}

ul li:nth-child(3):hover~li:last-child a {
    right: 14.1em;
    width: 6.9em;
}

ul li:nth-child(4):hover~li:last-child a {
    right: 5.9em;
    width: 8.26em;
}

/*
Target each ID 
Width by ID 
*/


ul li:last-child a {
    min-width: 5em;
    max-width: 5em;
}

nav.navbar-dark .navbar-nav ul li a:hover {
    background-color: var(--SWEET-light-grey);
}

ul li a:hover {
    color: var(--SWEET-purple);

    /*transition*/
    -webkit-transition: width .3s, right .3s, background-color .3s;
    -moz-transition: width .3s, right .3s, background-color .3s;
    -o-transition: width .3s, right .3s, background-color .3s;
    transition: width .3s, right .3s, background-color .3s;
}

ul li a:focus {
    border-bottom: 5px solid var(--SWEET-purple);
    margin-bottom: -10px;
}

.bg-image {
    height: 300px;
    width: 100%;
    margin-top: 3em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mask {
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0.5)
}

#calendar-caption .prev, #calendar-caption .next {
    font-size: 0.65em;
    padding-top: 10px;
    cursor: pointer;
}

.chart-controls .btn {
    margin-bottom: 20px;
}

.chart-controls .btn.btn-light{
    background-color: var(--SWEET-grey);
    border-color: var(--SWEET-grey);
}

.chart-controls .btn.btn-primary {
    margin-top: 0px;
    margin-bottom: 20px
}

@media screen and (max-width: 825px) {

    ul.navbar-nav li.nav-item a.nav-link, ul.quick-links li a {
        font-size: 0.8em;
        text-align: center;
    }


  .form-check-input  {
        height: 2em;
        width: 2em;
    }

    ul li:last-child a::after {
        display: none;

    }

    ul li a:focus {
        display: none;
    }

    h1 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.2em;
    }

    body, .form-control, label {
        font-size: 0.9em;

    }

    #diary-page-graphs {
        margin-top: 4em;
    }

    #diary-page-graphs h4 {
        font-size: 1.2em;
    }

    #diary-page-graphs h5 {
        font-size: 1em;
    }

    #diary-page-graphs select {
        font-size: 0.7em;
    }
}
/* RESPONSIVE NAVBAR */
.topnav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    border-bottom: 5px solid var(--SWEET-grey);
    margin-bottom: -10px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}




/* Smaller screens-hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 825px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    a.btn-dark {
           margin: 0;
           margin-top: 1rem;
           position: relative;
           top: 50%;
           left: 50%;
           -ms-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);

       }
}

@media screen and (min-width: 826px) {
    #navlogout {
        transform:translate(0%, -15%);
    }
}
@media screen and (max-width: 1024px) {
    .topnav a.link {
        font-size: 0.9em;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 825px) {
    .topnav.responsivenav {display: block;}
    .topnav.responsivenav a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsivenav a {
        float: none;
        display: block;

    }
}

.topnav a {
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width: 825px) {
    .topnav a.link {
        font-size: 0.8em;
        text-align: center;
    }
}


.link:hover, nav.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-brand:hover {
    color: var(--SWEET-dark-grey);
}

a.link:focus, a.link:hover {
    border-bottom: 5px solid var(--SWEET-purple);
    margin-bottom: -10px;
}

.topnav a.link.active, .navbar-brand, .topnav a.link {
    color: var(--SWEET-dark-grey);
}

a.link {
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


#navlogout {
    min-width: 5em;
    max-width: 5em;

}
.btn-dark, .btn-dark:focus, .btn-dark:active {
    background-color: var(--SWEET-purple);
    border-radius: 2rem;
    padding: 3px;
    margin-left: 0.5rem;
    font-weight: normal!important;
}




