a {
    color: #633188;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

nav #app-buttons {
    position:relative;
}

nav #app-buttons i {
    color: inherit;
    cursor: pointer;
    font-size:24px;
}

nav #app-buttons .favourite:hover i {
    color: #FEDE00
}

nav #app-buttons .add-note {
    position: absolute;
    top: -.5rem;
    bottom: -.5rem;
    right: var(--bs-gutter-x,-.75rem);
    padding-top: 1rem !important;
    background-color: #633188;
    color: #fafafa;
}

.card {
    border-bottom: solid 6px #633188;
}

.quote {
    border-left: solid 6px #633188;
}

.quote p {
    font-style: italic;
}

button.accordion-button {
    font-weight: bold;
}

button.accordion-button:focus {
    border: none;
    box-shadow: none;
}

button.accordion-button:not(.collapsed) {
    color: #fafafa;
    background-color: #633188;
}

button.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23633188'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}